    <tr class="cust_in" data-waitlist_cust_id="{{id}}">
      <td></td>
      <td></td>      
      <td scope="row">{{cust_name}}</td>
      <td scope="row">{{phone_number}}</td>
      <td scope="row">{{format_time check_in_time}}</td>
      <td scope="row">{{appointment}}</td>
      <td scope="row">{{service}}</td>                
    </tr>   